<template>
  <div id="app">
    {{ msg }}
    <div style="border:1px solid black;">
      <form v-if="addSeen">
        <label>Добавить {{ typeItem }}</label>
        <p>
          <input type="text" v-model="itemForAdd">
          <button @click="addItem">Добавить {{ typeItem }} </button>

        </p>
      </form>
    </div>
    <div style="border:1px solid black;">
      <form>
        <p>
          <label>Направление</label>
          <button @click="addForm('region')">[+]</button>
          <select v-model="region" v-on:change="getData('areas', region)">
            <option v-for="item in regions" v-bind:value="item.value">
              {{ item.name }}
            </option>
          </select></p>

        <p><label>Участок</label>
          <button @click="addForm('area')">[+]</button>
          <select v-model="area" v-on:change="getData('locations', area)">
            <option v-for="item in areas" v-bind:value="item.id">
              {{ item.name }}
            </option>
          </select>
        </p>
        <p>
          <label>Прибор</label>
          <button @click="addForm('location')">[+]</button>
          <select v-model="location">
            <option v-for="item in locations" v-bind:value="item.id">
              {{ item.name }}
            </option>
          </select>
        </p>


        <label>Добавить считыватель</label>
        <p><input type="text" placeholder="Имя сканера" v-model="raspberry"/>
          <input type="text" placeholder="mac-адрес сканера" v-model="mac"/>
          <input type="text" placeholder="Время разгрузки сек" v-model="timeout"/>
        </p>
        <button @click="addNewScanner">Добавить</button>
      </form>
    </div>
    <label>Кандидаты</label>
    <ul>
      <li v-for="item in candidates">{{item.mac}} {{item.ip}}
        <button @click="candidate(item)">[+]</button>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    mounted() {
      this.$socket.emit('regions', {});
      this.$socket.emit('getCandidates');
      console.log('main app mounted')
    },
    name: 'app',
    data() {
      return {
        msg: "",
        regions: [],
        areas: [],
        locations: [],
        raspberries: [],
        region: "",
        area: "",
        location: "",
        raspberry: "",
        mac: "",
        timeout: "",
        candidates: [],
        itemForAdd: "",
        typeItem: "",
        addSeen: false,
        canAddItem: false
      }
    },

    methods: {
      addItem: function () {
        if(this.canAddItem)
        {
          let dataset = {
            typeItem: this.typeItem,
            item: this.itemForAdd,
            region: this.region,
            area: this.area
          }
          this.$socket.emit('additem', dataset);
          this.addSeen = false;
          this.typeItem = "";
          this.itemForAdd = "";
          this.canAddItem= false;
          this.msg = "";
        } else {
          this.msg = "Мы пока не можем добавить ЭТО. Проверьте настройки."
        }
      },
      addForm: function (type) {

        if ((type === "location") && (this.area === "")) {
          this.msg = "Сначала надо выбрать участок.";
          this.canAddItem = false;
        }
        else if ((type === "area") && (this.region === "")) {
          this.msg = "Сначала надо выбрать направление.";
          this.canAddItem = false;
        }
        else {
          this.addSeen = true;
          this.typeItem = type;
          this.msg = "";
          this.canAddItem = true;
        }

      },
      candidate: function(item) {
        console.log(item);
        this.mac = item.mac;
      },
      getData: function (type, item) {
        console.log(item);
        this.$socket.emit(type, {id: item});
        console.log('type', type, item)
      },
      addNewScanner: function () {
        if (!confirm('Уверены что хотите добавить этот сканер?')) {
          this.msg = "Не балуй";
          return
        }
        else {
          this.msg = "";
        }

        if(this.raspberry && this.mac && this.location && this.timeout)
        {
          let dataset = {
            name: this.raspberry,
            mac: this.mac,
            location: this.location,
            timeout: this.timeout
          }
          this.$socket.emit('addnewscanner', dataset);
        }
        else{
          this.msg = "Не все данные";
        }

      }
    },
    sockets:
      {
        data: function (dataset) {
          console.log('data', dataset);
          if(dataset.type === "itemadded"){
            this.$socket.emit('regions', {});
            return
          }
          this[dataset.type] = dataset.array
        },
      }
  }
</script>
