<template>
  <div>
    <input list="areas">
    <datalist id="areas">
      <option v-for="item in areas" v-bind:value="item.id">
        {{ item.name }}
      </option>
    </datalist>
  </div>
  <button>Next</button>
</template>

