<template>
  <div>
    <input list="locations">
    <datalist id="locations">
      <option v-for="item in regions" v-bind:value="item.id">
        {{ item.name }}
      </option>
    </datalist>
  </div>
  <button>Next</button>
</template>

