<template>
  <div>
    <form>
      <input type="text" placeholder="Регион" v-model="region"/>
      <input type="text" placeholder="Участок" v-model="area"/>
      <input type="text" placeholder="Локация" v-model="location"/>
      <input type="text" placeholder="Сканер" v-model="raspberry"/>
      <input type="text" placeholder="timeout" v-model="timeout"/>

      <input type="submit"/>
    </form>
  </div>
</template>
