<template>
  <div>
    <input list="regions">
    <datalist id="regions">
      <option v-for="item in regions" v-bind:value="item.id">
        {{ item.name }}
      </option>
    </datalist>

    <button>Next</button>
  </div>
</template>

