<template>
  <div>
    <div>
      <input type="text" placeholder="Имя" v-model="form.name"/>
      <input type="text" placeholder="Время рейса" v-model="form.timeout"/>
      <button @click="update">Изменить</button>
    </div>
    <vue-good-table
      :rows="scanners"
      :columns="columns"
      :paginate="true"
      :perPage=10
      :paginateOnTop="true"
      :lineNumbers="true"
      title="Сканеры"
    >
      <template slot="table-row-after" slot-scope="props">
        <td>
          <button @click="toEdit(props.row)">Редактировать</button>
        </td>
      </template>

    </vue-good-table>

  </div>
</template>

<script>
  console.log('hello, scanners')
   export default {
    //components: {VueGoodTable},
    mounted() {
      console.log('mounted Scanners');
      this.$socket.emit('getScanners');
    },
    name: 'scanners',
    data() {
      return {
        columns: [
          {
            label: "Регион",
            field: "regionName",
            filterable: true,
            html: false
          },
          {
            label: "Участок",
            field: "areaName",
            filterable: true,
            html: false
          },
          {
            label: "Прибор",
            field: "locationName",
            filterable: true,
            html: false
          },
          {
            label: "Сканер",
            field: "name",
            filterable: true,
            html: false
          },
          {
            label: "Таймаут",
            field: "timeout",
            filterable: false,
            html: false
          }
        ],
        scanners: [],
        form: {
          id: 0
        }
      }
    },
    methods: {
      toEdit: function (item) {
        console.log(item);
        this.form = item
      },
      update: function () {
        console.log(this.form);
        if(this.form.id && this.form.name && this.form.timeout)
        {
          if (!confirm('Уверены что хотите изменить этот сканер?')) {
            return
          }
          this.$socket.emit('updateScanner', this.form);
          this.form = {}
        }

      }
    },
    sockets: {
      scannersList: function (dataset) {
        this.scanners = dataset.array
      },
      updateScannerSucessfull: function () {
        console.log('updateScannerSucessfull');
        this.$socket.emit('getScanners');
      }
    }
  }
</script>
